
@{
    ViewBag.Title = "AboutUs";
}
<div class="row">
    <div class="col-lg-12">
        <h1>
            Welcome, friend! We are the Epic of Dreams.
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>
            We believe that the pinnacle moment in tabletop roleplaying is when you and your friends find yourselves lost inside of the fantasy and dramas within the worlds of your imagination.
            <br />
            <br />
            We have spent the last five years developing an RPG system that allows for these legendary moments to become easily accessible to all players, grognards and newcomers alike.
            <br />
            <br />
            To this end, we have designed our system such it requires no dice, pens, paper, cards, or even character sheets to play, while still being a full-fledged RPG system.
            <br />
            <br />
            Instead of using dice, our core resolution mechanic is called ‘The Circle of the Muse’. Whenever the Singer (the game master role, for our purposes) finds the Heroes in a situation involving considerable risk, the Singer will call upon the Muse and her Circle, asking the individual Heroes for a Circle Check, and then quickly resolving the matter at hand.
            <br />
            <br />
            The Circle of the Muse is a guessing game where the Heroes try to match the numbers the Singer is thinking of in order to successfully complete a task.
            It is resolved instantaneously, and allows for the tempo and flow of immersion to never be broken.
        </h3>
    </div>       
</div>
<div class="row">
    <div class="col-lg-12">
        <h1>
            Want to learn more?
        </h1>
        <br />
        <h4>
            Join our email club, <i><b>‘Potential, or Destiny?’</b></i>, and download the first chapter of our Core Rulebook for FREE:
        </h4>
        <address>
            <a href="https://mailchi.mp/654e2995e29d/eodpotentialordestinylanding" target="_blank">https://mailchi.mp/654e2995e29d/eodpotentialordestinylanding</a><br />
        </address>
        <br />
        <h4>
            We’re excited to game with you.
            <br />
            <br />
            Check out the News tab for the latest info about what we’re up to, our @Html.ActionLink("Shop", "Shop", "Home") to get your very own copy of the latest books shipped right to your door, and be on the lookout for our Blogs and Featured Content!
        </h4>
    </div>
</div>
    