@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-lg-12">
        <h3>
            Any questions, concerns, or ideas? Send us an email at:
        </h3>     
        <address>
            <a href="mailto:epicofdreamsofficial@gmail.com"> epicofdreamsofficial@gmail.com</a><br />
        </address>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>
            Follow our social media pages to see <strong>EVERYTHING</strong> we’re doing!<br />
        </h3>
        <address>
            <strong>Youtube:</strong>   <a href="https://www.youtube.com/channel/UCxmbrqGt2mI6ajtdYbfBhMA" target="_blank">https://www.youtube.com/channel/UCxmbrqGt2mI6ajtdYbfBhMA</a><br />
            <strong>Facebook:</strong>  <a href="https://www.facebook.com/epicofdreams" target="_blank" >https://www.facebook.com/epicofdreams</a><br />
            <strong>Facebook Group - Hordeling Harbor:</strong> <a href="https://www.facebook.com/groups/1885548674799478/" target="_blank" >https://www.facebook.com/groups/1885548674799478/</a><br />
            <strong>Instagram:</strong> <a href="https://www.instagram.com/epicofdreams" target="_blank" >https://www.instagram.com/epicofdreams</a><br />
            <strong>Twitter:</strong> <a href="https://twitter.com/epicofdreams" target="_blank" >https://twitter.com/epicofdreams</a><br />
            <strong>Discord Server::</strong> <a href="https://discord.gg/J2QbSU8" target="_blank" >https://discord.gg/J2QbSU8</a><br />
            <strong>Twitch:</strong> <a href="https://www.twitch.tv/epicofdreamsofficial" target="_blank" >https://www.twitch.tv/epicofdreamsofficial</a><br />
            <strong>Soundcloud:</strong> <a href="https://soundcloud.com/epicofdreams" target="_blank" >https://soundcloud.com/epicofdreams</a><br />
        </address>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>
            Join our Email Clubs for early access and free stuff!
        </h3>
        <address>
            <strong>Heroes’ Hall:</strong>   <a href="https://mailchi.mp/6e209c4cdeb8/eodheroeshalllanding" target="_blank" >https://mailchi.mp/6e209c4cdeb8/eodheroeshalllanding</a><br />
            <strong>Sagacraft:</strong>  <a href="https://mailchi.mp/33e92e9314ab/eodsagacraftlanding" target="_blank" >https://mailchi.mp/33e92e9314ab/eodsagacraftlanding</a><br />
            <strong>Potential or Destiny:</strong> <a href="https://mailchi.mp/654e2995e29d/eodpotentialordestinylanding" target="_blank" >https://mailchi.mp/654e2995e29d/eodpotentialordestinylanding</a><br />
        </address>
    </div>
</div>







 
 
  