@{
    ViewBag.Title = "Featured Content";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="jumbotron">
            Jormin’s Venture: A Fantasy Drama
        </h2>
        <h3>
            Join us for our debut Fantasy Drama, Jormin’s Venture!
            Jormin and Gan seek out a means by which they might smite their adversary,
            Yirgrimson the Griffon. Follow them on their journey into the Serpent’s Forest,
            the lair of the elder white linnorm Aroxthenes. Will Lady Ellanora’s blessing hold true?
            Will they be able to hold the power of the dragon in their hands?
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center; opacity: 1;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3kdjJIFZXzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>
            This is the first drama production of many we are offering. We will be releasing more episodes soon, where we will learn of the fates of Jormin Jameson and Gan Chrisson, and their following adventures into the dungeons of the world before, a land of faeries, superstitions, magic, sin, war, horror, gold, and glory.
        </h3>


        <p>Use this area to provide additional information.</p>
    </div>
</div>