@{
    ViewBag.Title = "The Epic Of Dreams";
}

<div class="jumbotron">
    <h1 style="text-align:center;">
        THE EPIC OF DREAMS
    </h1>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <h3>
            Hail, Traveler!
            <br />
            <br />
            You’ve arrived at the official website for the Epic of Dreams Roleplaying Game.
            Here you can find all the news about what we’re up to, learn about the game, and join our growing online community!
            <br />
            <br />
            Make sure to join our email clubs to get some free goodies, including the first chapter of our Core Rulebook for FREE, a free system-agnostic epic adventure, and an exclusive sneak peek into our next book!
            <br />
            <br />
            Be sure to check out our News, Featured Content, and Blog sections for all of our latest offerings, including our very own home-grown fantasy drama films!
            <br />
            <br />
            The Core Rulebook and more is on sale in our Shop tab, and you can find all of our Social Media accounts through our Contact Us page!
            <br />
            <br />
            The Forum will be live soon, where we will be able to host both Play-By-Post games and schedule live online games, and talk about all things epic.
            <br />
            <br />
            Welcome, friend. Enter.
            <br />
            <br />
        </h3>
    </div>
</div>


