
@{
    ViewBag.Title = "News and Updates";
}f
<div class="row">
    <div class="col-lg-12">
        <h1>News and Updates</h1>
        <img src="~/Content/carnagearoxsmall.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <h2>We arrived, and struck with all our force.</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <h3>
            This past weekend our development team was able to debut the Epic of Dreams at Carnage Con 21 in Killington, Vermont, as we had originally aimed. With your help, we were able to not only successfully fund our Kickstarter campaign for the production of the Core Rulebook, but we were able to produce it on time for our first major convention: Carnage Con 21.
        </h3>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/carnagecrsmall.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-8">
        <h3>
            We had an amazing time! We were able to meet a lot of great people, showcase the game, and wow. The magic happened in a manner that I personally had never seen before.
        </h3>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/carnageguysmall.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <h3>
            We couldn't have made it this far without your support.
            <br />
            From the bottom of our hearts, thank you so much. We are elated to have you start this adventure with us, and we can't wait for all that is to come.
            <br />
            <strong>That being said, this week we will be shipping everything out to our backers!</strong>
        </h3>
        <h2>
            <strong>If you haven't filled out your form yet, be sure to do so, so we can send your copy to you on time!</strong>
        </h2>
    </div>
</div>
