
@{
    ViewBag.Title = "Shop";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="jumbotron">
            Welcome to our Item Shop
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <iframe  src="https://mailchi.mp/a616622fad33/eodcore" frameborder="0" width="100%" height="800px"></iframe>
    </div>
</div>
