
@{
    ViewBag.Title = "Shop";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="jumbotron">
            Welcome to our Item Shop
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <iframe  src="https://mailchi.mp/b4f05ce57702/eodcorerulebook?fbclid=IwAR3EvaxYW-SPt-WJcuAJhIW3wEl7Z_iXXLWjJ98sK4AyZG9B53m4Nnjur00" scrolling="no" frameborder="0" width="100%" height="4280px"></iframe>
    </div>
</div>
